.Nav {
  background-color: #ffffff;
  box-shadow: 0px 1px 0px #e4dfdf;
}

.Footer {
  height: 92px;
  background-color: #000000;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  bottom: 0;
}

.Toolbar {
  background: #ffffff;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.Logo {
  cursor: pointer;
}

.heroBanner {
  background-image: url("/src/assets/Images/Banner.svg");
  background-repeat: no-repeat;
  width: 100vw;
  height: 903.28px;
  max-width: 100%;
}

.banner-button {
  background: #0093d0;
  width: 270px;
  height: 64px;
}

.banner-bottom-wrapper {
  padding: 10px;
  background: black;
  opacity: 82%;
  display: flex;
}

.banner-bottom {
  display: flex;
  align-items: center;
}

.result-wrapper {
  display: flex;
  align-items: center;
}

.result-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.error-boundary-button {
  align-items: center;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  min-height: 3rem;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.error-boundary-button:hover,
.error-boundary-button:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.error-boundary-button:hover {
  transform: translateY(-1px);
}

.error-boundary-button:active {
  background-color: #f0f0f1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

.register-wrapper {
  background: #ffffff;
  box-shadow: 0px 4px 23px -4px rgba(0, 0, 0, 0.07);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.register-button-wrapper {
  width: 100%;
  display: flex;
  justify-content: right;
  margin-top: 25px;
  padding-bottom: 25px;
}

.register-submit-button {
  background: #0093d0;
  height: 61px;
  width: 207px;
  padding: 18.5px 60px;
}

.survey-title-wrapper {
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.13);
  height: 100px;
  background-color: #f9f9f9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.wrapper-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.survey-step-label {
  padding: 0px !important;
  line-height: 19px;
}

.customButton label,
.customButton input {
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100px;
  height: fit-content;
  background: #ffffff;
  box-shadow: -6px 8px 17px 1px rgba(106, 105, 105, 0.11);
  border-radius: 6px;
  border: 1px solid #d5d5d5;
}

.customButton input[type="radio"] {
  display: none;
}

.customButton label:hover {
  border: 1px solid #0093d0;
}

.customButton input[type="radio"] :checked {
  border: 1px solid #009ff9;
}

.selectedButton {
  border: 1px solid #0073d0 !important;
  color: #0073d0;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #0093d0;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0093d0;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
