.Nav {
  background-color: #ffffff;
  box-shadow: 0px 1px 0px #e4dfdf;
}

.Footer {
  height: 92px;
  background-color: #000000;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  bottom: 0;
}

.Toolbar {
  background: #ffffff;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.Logo {
  cursor: pointer;
}

.heroBanner {
  background-image: url("/src/assets/Images/Banner.svg");
  background-repeat: no-repeat;
  width: 100vw;
  height: 903.28px;
  max-width: 100%;
}

.banner-button {
  background: #0093d0;
  width: 270px;
  height: 64px;
}

.banner-bottom-wrapper {
  padding: 10px;
  background: black;
  opacity: 82%;
  display: flex;
}

.banner-bottom {
  display: flex;
  align-items: center;
}

.result-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.result-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
